/* Grid layout for header, main and footer */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 
        minmax(76px , auto)
        auto
        minmax(70px , auto);
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* Style for filter options */
.filter-options{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

@media screen and (max-width: 610px){
    .filter-options{
        flex-direction: column;
        
        h2 {
            margin-top: 10px;
        }
    }
}

/* Grid layout for restaurant list */
#restaurants-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    box-sizing: border-box;
    max-width: 1140px;
    margin: auto;
    
    li{
        justify-self: center;
    }
}

@media screen and (max-width: 610px){
    #restaurants-list {
        grid-template-columns: repeat(auto-fit, 1fr);
        
        li{
            max-width: none;
            width: 100%;
        }
    }
}

/* Grid layout for restaurant details page */
.inside {
    grid-template-columns: minmax(auto, 380px) auto;
    grid-template-areas: 
        "header header"
        "main ."
        "footer .";
    
    #maincontent {
        display: grid;
        grid-template-columns: minmax(auto, 380px) auto;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
            "restaurant map"
            "review map";
    }

    #map-container {
        grid-area: map;
    }

    #restaurant-container {
        grid-area: restaurant;
    }

    #reviews-container {
        grid-area: review;
    }
}

@media screen and (max-width: 760px){
    .inside {
        grid-template-columns: auto;
        grid-template-areas: 
            "header"
            "main"
            "footer";
        
        #maincontent {
            grid-template-areas: 
                "map map"
                "restaurant restaurant"
                "review review";
        }
        
        #breadcrumb {
            width: 100%;
        }
        
        #map-container {
            position: static;
            width: 100%;
            height: 250px;
        }
        
        #restaurant-container {
            margin-top: 0;
            box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.25);
            position: relative;
            z-index: 400;
        }
    }
}